pip install pypdf
pip install langchain
pip install torch
pip install accelerate
pip install bitsandbytes
pip install ctransformers
pip install sentence_transformers
pip install faiss_cpu
pip install chainlit
pip install huggingface_hub
pip install langchain_community